.vscode
./**/docs/**/*
./**/docs/**/*.html
./**/docs/**/*.css
./**/docs/**/*.scss
./**/docs/**/*.less
./**/docs/**/*.json
./**/docs/**/*.yaml
./**/docs/**/*.yml
./**/docs/**/*.html
./**/docs/**/*.css
./**/docs/**/*.scss
./**/docs/**/*.less
.openapi-generator
.openapi-generator-ignore
v1/base/base
*.pem
*.key
*.crt
*.csr
*.pfx
*.p12
*.pub
Chart.lock
helm/**/files/*
*.tgz

# clis
cli/keys/keys
cli/cli
cli/config/config
cli/redis/redis


.claude/